<router-outlet />

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstname">First Name:</label>
    <input id="firstname" formControlName="firstname" type="text" />
  </div>
  <div>
    <label for="lastname">Last Name:</label>
    <input id="lastname" formControlName="lastname" type="text" />
  </div>
  <div>
    <label for="age">Age:</label>
    <input id="age" formControlName="age" type="number" />
  </div>
  <div>
    <label for="rating">Rating:</label>
    <input id="rating" formControlName="rating" type="number" min="1" max="5" />
  </div>
  <div style="border:solid thin blue">
    <label for="custom">CVA:</label>
    <app-testcva id="custom" formControlName="cva"></app-testcva>
  </div>
  <button type="submit">Submit</button>
</form>
<div>
  <button (click)="updateCva()">Update CVA</button>
</div>
<div>
  <pre>{{ form.value | json }}</pre>
</div>
